# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# These variables should be removed from Wrangler.toml file and here after completing the project 


DATABASE_URL = "prisma://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMDlhODNjNjktOTVhYS00MzU5LWIwYzAtYjJiMzgyNDRhYzU5IiwidGVuYW50X2lkIjoiZjEyOTBlMDQzNzc1MDRiZjA3ZTU1YjUyZTc5YWU0M2M2NGVjNjVjNDJlMjAzMzU3ODk4YzYxZGJiNDFhODAzOCIsImludGVybmFsX3NlY3JldCI6ImM3ZjRhMWZmLTc4YzAtNGNjOC05MzQ4LTdiMzgwOGFjMTQ2NiJ9.rNvMX5gGAFpscKDumA5oe_a6sZZqAmYiSOf--3FYtBM"


JWT_SECRET = "Shishu"



